
<app-banner [title]="'TEACHERS'"></app-banner>

<!-- Class Start -->
<div class="container-fluid pt-5">
    <div class="container">
      <div class="text-center pb-2">
        <p class="section-title px-5">
          <span class="px-2">Popular Teachers</span>
        </p>
        <h1 class="mb-4">Teachers for Your Kids</h1>
      </div>
      <div class="row" *ngIf="connectedUser.role==='admin'">
        <div class="col-12">
          <div class="form-group">
            <label for="floatingInput">Chercher enseignant</label>
            <input type="text" [(ngModel)]="filter" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Specialité">
          </div>
        </div>
        
      </div>
      <div class="row">

        <div class="col-lg-6" *ngFor="let teacher of teachers | myFilter:filter">
            <app-teacher [teacher]="teacher" (newPass)="Delete(teacher)" ></app-teacher>
          </div>
        
      </div>
    </div>
  </div>
  <!-- Class End -->



